# This Test is for check spaces in spNumOfFeatures configuration value
#this is a valid configuration file
#The following variables don’t have default values and must be set
spImagesDirectory = ./images/
spImagesPrefix=img
spImagesSuffix = .png
spNumOfImages =      17
#the following variables have default values, if not set the default value is choosen
# spPCADimension = 29
spPCAFilename = pca.yml
spNumOfFeatures = 0
spExtractionMode = true 
#spMinimalGUI = true -> the default value is chosen since this is a comment
spNumOfSimilarImages = 5
spLoggerFilename = stdout